itsm_profile:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: Postgres
      password: your_password
      dbname: itsm_db
      schema: public
      threads: 1
